<svelte:head>
	<title>Sapper Styleguide template</title>
</svelte:head>

<Scroller {top} {threshold} {bottom} bind:count bind:index bind:offset bind:progress>
<div slot="background">
	<p>current section: <strong>{index + 1}/{count}</strong></p>
	<progress value="{count ? (index + 1) / count : 0}"></progress>

	<p>offset in current section</p>
	<progress value={offset || 0}></progress>

	<p>total progress</p>
	<progress value={progress || 0}></progress>
	<nav>
			<%
	
			function renderNavigation(children, depth) { %>
				<ul><%
	
					if (depth < 3) children.forEach(function (child) {
						if (child.name) {
	
							%>
							<li>
								<a href="#<%- child.name %>"><span><%- child.title %></span></a>
								<%
	
								if (child.children) renderNavigation(child.children, depth + 1);
	
								%>
							</li>
							<%
	
						}
					});
	
				%></ul>
			<% }
	
			renderNavigation(list, 1);
			%>
		</nav>
</div>

<div slot="foreground">
<% function renderSections(children, depth) {
	children.forEach(function (child) {
		if (child.name) { %>
			<section id="<%= child.name %>">
				<h<%= depth %> class="doc-section-heading"><%= child.title %></h<%= depth %>>

				<div>
					<%- child.content %>
					<%

					if (child.children) {
						renderSections(child.children, depth + 1);
					}

					%>
				</div>
			</section>
		<% } else { %>
			<section>
				<div>
					<%- child.content %>
					<%

					if (child.children) {
						renderSections(child.children, depth + 1);
					}

					%>
				</div>
			</section>
		<% }
	});
} %>
<%
renderSections(list, 2);
%>
</div>
</Scroller>	

<script>
	import Scroller from '@sveltejs/svelte-scroller';
	import Switch from '../components/Switch.html';
	import Svg from '../components/Svg.html';

	export default {
    data(){
      return{
        // you can drag the markers in the right rail
        top: 0.2,
        threshold: 0.5,
        bottom: 0.8
      }
    },
		components: {
			Scroller, Switch, Svg
		}
	};
</script>