<svelte:head>
	<title>Sapper Styleguide template</title>
</svelte:head>

<Scroller {top} {threshold} {bottom} bind:count bind:index bind:offset bind:progress>
<div slot="background">
	<div class="progress-top" style="width: {progress*100 || 0}%; height: 10px; background: rgba(90,90,90,0.1)"></div>
	<nav>
			<%
	
			function renderNavigation(children, depth) { %>
				<ul><%
	
					if (depth < 3) children.forEach(function (child) {
						if (child.name) {
	
							%>
							<li class="{selected--index + 1}">
								<a href="#<%- child.name %>"><span><%- child.title %></span></a>
								<%
	
								if (child.children) renderNavigation(child.children, depth + 1);
	
								%>
							</li>
							<%
	
						}
					});
	
				%></ul>
			<% }
	
			renderNavigation(list, 1);
			%>
		</nav>
</div>

<div slot="foreground">
<% function renderSections(children, depth) {
	children.forEach(function (child) {
		if (child.name) { %>
			<section id="<%= child.name %>">
				<h<%= depth %> class="doc-section-heading"><%= child.title %></h<%= depth %>>

				<div>
					<%- child.content %>
					<%

					if (child.children) {
						renderSections(child.children, depth + 1);
					}

					%>
				</div>
			</section>
		<% } else { %>
					<%- child.content %>
					<%

					if (child.children) {
						renderSections(child.children, depth + 1);
					}

					%>
		<% }
	});
} %>
<%
renderSections(list, 2);
%>
</div>
</Scroller>	

<script>
	import Scroller from '@sveltejs/svelte-scroller';
	import Switch from '../components/Switch.html';
	import Svg from '../components/Svg.html';

	export default {
    data(){
      return{
        // you can drag the markers in the right rail
        top: 0.15,
        threshold: 0.01,
        bottom: 1,
        parallax: false
      }
    },
		components: {
			Scroller, Switch, Svg
		}
	};
</script>